@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1>Welcometo the world of Razor pages</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@if(Model.seen == true)
{
    <p>@Model.MyName</p>
}
else
{
    <p style="font-size:large;color:forestgreen;font-style:italic">@Model.Num1</p>
}


<br />
<br />

@if(Model.buildVersionInfo == null)
{
    <p style="font-weight:bold;">Build Version is Unknow</p>
}
else
{
    <p>Database Version: @Model.buildVersionInfo.Major .
                         @Model.buildVersionInfo.Minor .
                         @Model.buildVersionInfo.Build .
        was released on @Model.buildVersionInfo.ReleaseDate.ToShortDateString()
                         
    </p>
}